* {
  background-size: 100%;
  background-repeat: no-repeat;
}
body {
  font-family: 'Quicksand', 'Noto Sans', sans-serif;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
html body .m {
  display: none;
}
ul,
ol,
h1,
h2,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #474747;
}
a:hover {
  color: #df9a79;
}
.wrap .wrapper {
  padding: 10px;
  max-width: 1320px;
  margin: 0 auto;
}
.wrap .wrapper .content.view {
  color: #606060;
  text-align: left;
}
.wrap .wrapper .content.view ul li .gallery img {
  width: 100%;
}
.wrap .wrapper .content.view ul li .h {
  float: left;
}
.wrap .wrapper .content.view ul li .h h1 {
  padding: 70px 0;
  display: inline-block;
}
.wrap .wrapper .content.view ul li .edit {
  float: right;
  margin-top: 82px;
}
.wrap .wrapper .content.view ul li .edit img {
  vertical-align: -5px;
  float: left;
  margin-right: 10px;
}
.wrap .wrapper .content.view ul li .edit .edit_del {
  float: right;
  display: none;
}
.wrap .wrapper .content.view ul li .edit span a {
  display: inline-block;
  color: #acacac;
}
.wrap .wrapper .content.view ul li .edit span:hover {
  color: #df9a79;
}
.wrap .wrapper .content.view ul li .date {
  clear: both;
}
.wrap .wrapper .content.view ul li .view {
  padding: 70px 0;
}
.wrap .wrapper .content.view ul li .view span p {
  text-align: left;
}
.wrap .wrapper .write {
  padding: 50px 0;
  text-align: center;
}
.wrap .wrapper .write span {
  text-align: center;
}
.wrap .wrapper .write span img {
  vertical-align: middle;
  border-radius: 5px;
}
.wrap .wrapper .comment {
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}
.wrap .wrapper .comment .icon > span {
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.wrap .wrapper .comment .icon > span img {
  vertical-align: middle;
}
.wrap .wrapper .comment .area {
  margin: 0 auto;
  width: 100%;
  height: 150px;
}
.wrap .wrapper .comment .area textarea {
  box-sizing: border-box;
  border: solid 1px #acacac;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  color: #474747;
  text-transform: uppercase;
}
.wrap .wrapper .comment .area input[type="submit"] {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 37px;
  background-image: url('../images/send.png');
  background-position: center;
  border-style: none;
  text-indent: -9999px;
  float: right;
  border-radius: 5px;
}
.wrap .wrapper .list {
  margin-top: 30px;
}
.wrap .wrapper .list .category {
  border: solid 1px #acacac;
  padding: 30px 30px;
  color: #999999;
}
.wrap .wrapper .list .category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
  padding-bottom: 10px;
}
.wrap .wrapper .list .category ul {
  color: #999999;
}
.wrap .wrapper .list .category ul li {
  display: inline-block;
  padding: 10px 0;
}
.wrap .wrapper .list .category ul li a {
  color: #999999;
}
.wrap .wrapper .list .category ul li:last-child {
  float: right;
}
.wrap .wrapper .page_num {
  margin-top: 30px;
  text-align: center;
}
.wrap .wrapper .page_num .num {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
  padding: 30px 0;
}
.wrap .wrapper .page_num .num a {
  margin-right: 5px;
}
.wrap .wrapper .page_num .num a:last-child {
  margin-right: 0;
}
.top {
  float: right;
}
.top a {
  display: block;
}
.header {
  background-size: cover;
  background-position: center;
  height: 100%;
}
.header .wrapper {
  padding: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header .wrapper .gnb {
  margin-top: 50px;
}
.header .wrapper .gnb .social {
  float: left;
}
.header .wrapper .gnb .social ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: 100%;
}
.header .wrapper .gnb .social ul li a {
  display: block;
  height: 100%;
}
.header .wrapper .gnb .social ul li:first-child {
  background-image: url('../images/kakao.png');
}
.header .wrapper .gnb .social ul li:nth-child(2) {
  background-image: url('../images/facebook.png');
}
.header .wrapper .gnb .social ul li:nth-child(3) {
  background-image: url('../images/naver.png');
}
.header .wrapper .gnb .social ul li:nth-child(4) {
  background-image: url('../images/yutube.png');
}
.header .wrapper .gnb .social ul li:last-child {
  background-image: url('../images/instagram.png');
}
.header .wrapper .gnb .login {
  float: right;
}
.header .wrapper .gnb .login ul li {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
}
.header .wrapper .gnb .login ul li a {
  color: #ffffff;
}
.header .wrapper .title div {
  margin: 0 auto;
  margin-top: 120px;
  width: 418px;
  height: 60px;
  background-image: url('../images/blogname.png');
}
.header .wrapper .title div a {
  display: block;
  height: 100%;
}
.header .wrapper .link ul {
  position: absolute;
  bottom: 20px;
}
.header .wrapper .link ul li {
  display: inline-block;
  margin-right: 20px;
  width: 180px;
  height: 240px;
  position: relative;
}
.header .wrapper .link ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.header .wrapper .link ul li a:hover {
  background-color: #333;
  opacity: .5;
}
.header .wrapper .link ul li:first-child {
  background-image: url('../images/link1.png');
}
.header .wrapper .link ul li:nth-child(2) {
  background-image: url('../images/link2.png');
}
.header .wrapper .link ul li:nth-child(3) {
  background-image: url('../images/link3.png');
}
.header .wrapper .link ul li:last-child {
  background-image: url('../images/link4.png');
}
.home .wrapper > div {
  margin: 0 auto;
}
.nav {
  height: 100px;
  border-bottom: 1px #ebebeb solid;
}
.nav > ul {
  text-align: center;
  line-height: 100px;
}
.nav > ul > li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #474747;
  font-weight: bold;
  vertical-align: top;
  position: relative;
}
.nav > ul > li > a {
  width: 100%;
  height: 100px;
  display: block;
}
.nav > ul > li > ul {
  font-size: 12px;
  font-weight: normal;
  border: 1px #ebebeb solid;
  padding: 10px 10px;
  position: absolute;
  top: 60px;
  background-color: #fff;
  display: none;
}
.nav > ul > li > ul > li {
  line-height: 30px;
  width: 100px;
}
.insta {
  clear: both;
}
.insta ul {
  overflow: hidden;
}
.insta ul li {
  float: left;
  width: 12.5%;
  height: 237.63px;
}
.insta ul li > div a {
  display: block;
}
.insta {
  margin-top: 100px;
}
.insta ul {
  font-size: 0;
}
.insta ul li .image {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  background-position: center;
}
.insta ul li .image a {
  width: 100%;
  height: 100%;
  display: block;
}
.insta ul li:first-child .image {
  background-image: url('../images/insta/insta1.png');
}
.insta ul li:nth-child(2) .image {
  background-image: url('../images/insta/insta2.png');
}
.insta ul li:nth-child(3) .image {
  background-image: url('../images/insta/insta3.png');
}
.insta ul li:nth-child(4) .image {
  background-image: url('../images/insta/insta4.png');
}
.insta ul li:nth-child(5) .image {
  background-image: url('../images/insta/insta5.png');
  background-position: center;
  height: 100%;
}
.insta ul li:nth-child(6) .image {
  background-image: url('../images/insta/insta6.png');
}
.insta ul li:nth-child(7) .image {
  background-image: url('../images/insta/insta7.png');
}
.insta ul li:last-child .image {
  background-image: url('../images/insta/insta8.png');
}
.footerline {
  height: 1px;
  border-bottom: 1px #ffffff solid;
}
.footer .wrapper .footerlist .f > div {
  margin: 0 auto;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .profil .image {
  margin: 0 auto;
  width: 200px;
  height: 160px;
  background-image: url('../images/profil.jpg');
  background-size: 200px;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .content {
  color: #54565b;
  width: 200px;
  margin: 0 auto;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .content h2 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .content p {
  margin-top: 20px;
  font-size: 14px;
  color: #76777b;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .content .image .set {
  background-image: url('../images/settings.png');
  background-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 160px;
  margin-right: 10px;
}
.footer .wrapper .footerlist .aboutMe .fWrapper .content .image .edit {
  background-image: url('../images/edit.png');
  background-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.footer .wrapper .footerlist .category .fWrapper .fCategory {
  width: 160px;
  margin: 0 auto 30px;
}
.footer .wrapper .footerlist .category .fWrapper .fCategory h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.86;
}
.footer .wrapper .footerlist .tag .fTag .content {
  height: 100%;
  width: 260px;
  margin: 0 auto;
}
.footer .wrapper .footerlist .tag .fTag .content a {
  height: 100%;
}
.footer .wrapper .footerlist .tag .fTag .content a span {
  display: inline-block;
}
.footer .wrapper .footerlist .tag .fTag .content a span .p {
  border: solid 1px #b79687;
  color: #54565b;
  height: 100%;
  font-size: 14px;
  display: block;
  line-height: 25px;
  padding: 0 10px;
  height: 25px;
  margin: 5px 5px 0;
}
.footer .wrapper .footerlist .search .fSearch {
  width: 170px;
  margin: 0 auto;
  margin-top: 100px;
}
.footer .wrapper .footerlist .search .fSearch span input[type=button] {
  background-image: url('../images/search.png');
  width: 29px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: #f7f7f7;
}
.footer .wrapper .footerlist .search .fSearch span input[type=text] {
  width: 130px;
  height: 29px;
  border: none;
  border-bottom: solid 2px #df9a79;
  vertical-align: middle;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 14px;
}
.footer .wrapper .footerlist .search .fSearch .counter {
  margin-top: 120px;
  width: 160px;
  height: 30px;
  text-align: center;
}
.footer .wrapper .footerlist .search .fSearch .counter span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 15px;
}
.footer .wrapper .footerlist .search .fSearch .counter span:last-child {
  margin-right: 0;
  color: #606060;
}
.footer .wrapper .footerlist .search .fSearch .counter span:nth-child(1) {
  color: #ff647e;
}
.footer .wrapper .footerlist .search .fSearch .counter span:nth-child(2) {
  color: #326195;
}
.footer .wrapper .foot {
  height: 50px;
}
.footer .wrapper .foot li {
  font-size: 12px;
  text-align: center;
  color: #606060;
  line-height: 50px;
  letter-spacing: 0.1em;
  border-top: 1px #ffffff solid;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
@media screen and (max-width: 900px) {
  .header .wrapper {
    max-width: 850px;
  }
  .header .wrapper .gnb > div {
    margin-top: -20px;
  }
  .header .wrapper .gnb .social ul {
    text-align: center;
  }
  .header .wrapper .gnb .social ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  .header .wrapper .gnb .social ul li a {
    width: 20px;
    height: 20px;
  }
  .header .wrapper .gnb .login {
    float: right;
  }
  .header .wrapper .gnb .login ul li {
    font-size: 13px;
  }
  .header .wrapper .title > div {
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 40px;
    margin-top: 70px;
  }
  .header .wrapper .link ul li {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 80px;
    height: 110px;
  }
  .footer .wrapper {
    max-width: 850px;
  }
  .footer .wrapper .footerlist .f {
    width: 212px;
    margin-right: 0;
  }
  .footer .wrapper .footerlist .f h1 {
    font-size: 20px;
  }
  .footer .wrapper .footerlist .f .fWrapper {
    width: 212px;
  }
  .footer .wrapper .footerlist .f .fWrapper .profil {
    margin: 0 auto;
  }
  .footer .wrapper .footerlist .f .fWrapper .line {
    width: 180px;
  }
  .footer .wrapper .footerlist .f .fWrapper .fTag .content {
    width: 212px;
  }
  .footer .wrapper .foot li {
    font-size: 10px;
  }
  .wrap .top a {
    width: 40px;
    height: 40px;
  }
  .wrap .top a img {
    width: 40px;
  }
  .wrap .wrapper {
    max-width: 850px;
  }
}
@media screen and (max-width: 480px) {
  #main #header {
    display: block;
  }
  #main .mheader {
    display: none;
  }
  .mheader {
    display: none;
  }
  #nav li {
    display: none;
  }
  #nav li > ul li {
    display: none;
  }
  html body .m {
    display: block;
  }
  #header {
    background-size: cover;
  }
  #header .wrapper {
    position: relative;
    height: 100%;
  }
  #header .wrapper .link {
    display: none;
  }
  #header .wrapper .gnb .social {
    display: none;
  }
  #header .wrapper .gnb .login {
    display: none;
  }
  #header .wrapper .gnb .mlogin {
    display: block;
    overflow: hidden;
  }
  #header .wrapper .gnb .mlogin ul {
    margin-right: 20px;
  }
  #header .wrapper .gnb .mlogin ul li {
    display: inline-block;
    float: right;
  }
  #header .wrapper .gnb .mlogin ul li:last-child img {
    margin-right: 5px;
  }
  #header .wrapper .mcount {
    display: block;
    margin-top: 50px;
  }
  #header .wrapper .mcount ul {
    text-align: center;
  }
  #header .wrapper .mcount ul li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  #header .wrapper .mcount ul li span:first-child {
    margin-right: 10px;
  }
  #header .wrapper .mcount ul li:last-child {
    margin-right: 0;
  }
  #header .wrapper .title > div {
    margin-top: 30px;
  }
  #header .wrapper .mcover {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
  }
  #header .wrapper .mcover ul {
    display: block;
  }
  #header .wrapper .mcover .profil {
    margin-bottom: 20px;
  }
  #header .wrapper .mcover .profil li {
    display: block;
    margin-left: 20px;
  }
  #header .wrapper .mcover .coverlist li {
    display: inline-block;
    margin-right: 5px;
  }
  #header .wrapper .mcover .coverlist li:first-child {
    margin-left: 20px;
  }
  #header .wrapper .mcover .coverlist li:last-child {
    margin-right: 0;
  }
  .mheader {
    position: fixed;
    height: 50px;
    border-bottom: 1px #cbcbcb solid;
    width: 100%;
    background-color: #ffffff;
  }
  .mheader .wrapper {
    padding: 0 20px;
    line-height: 50px;
    text-align: center;
  }
  .mheader .wrapper .menu {
    margin: 0 auto;
    display: inline-block;
  }
  .mheader .wrapper .search {
    float: right;
    line-height: 50px;
  }
  .mheader .wrapper .search span img {
    width: 17px;
    height: 17px;
  }
  .m.wrap.mnav {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
  }
  .m.wrap.mnav .nav_head {
    border-bottom: 1px solid #cbcbcb;
    padding: 10px;
  }
  .m.wrap.mnav .nav_head .x img {
    float: left;
    position: center;
    margin-top: 15px;
  }
  .m.wrap.mnav .nav_head .category {
    text-align: center;
    padding: 10px;
  }
  .m.wrap.mnav .nav_list > ul {
    padding: 30px;
  }
  .m.wrap.mnav .nav_list > ul > li {
    padding: 10px;
    border-bottom: 1px solid #cbcbcb;
  }
  .m.wrap.mnav .nav_list > ul > li a {
    display: block;
    overflow: hidden;
  }
  .m.wrap.mnav .nav_list > ul > li .name {
    float: left;
  }
  .m.wrap.mnav .nav_list > ul > li .su {
    float: right;
  }
  .m.wrap.mnav .nav_list > ul > li ul {
    padding: 10px;
  }
  .m.wrap.mnav .nav_list > ul > li ul li {
    padding: 5px;
  }
  .m.wrap.mnav .nav_list > ul > li ul li a {
    color: #959595;
  }
  .wrap {
    padding: 10px;
  }
  .wrap .wrapper .list {
    font-size: 13px;
  }
  .wrap .top {
    margin-top: 50px;
  }
  .home .wrapper .nav {
    display: none;
  }
  .home .top {
    margin-top: 20px;
  }
  .insta {
    padding: 10px;
    border: 1px #cbcbcb solid;
  }
  .insta ul {
    border: 1px #cbcbcb solid;
  }
  .insta ul li {
    display: block;
    width: 25%;
    height: 114px;
  }
  .insta ul li .image {
    width: 100%;
    height: 100%;
  }
  .insta ul li .image a {
    height: 100%;
    width: 100%;
  }
  .footer {
    padding: 20px;
    border: 1px #cbcbcb solid;
  }
  .footer .wrapper {
    border: 1px #cbcbcb solid;
    margin: 0 auto;
  }
  .footer .wrapper .footerlist .f {
    display: inline-block;
    margin: 0 auto;
  }
}
.footer {
  background-color: #f7f7f7;
}
.footer .wrapper ul {
  font-size: 0;
}
.footer .wrapper ul .f {
  display: inline-block;
  width: 322.5px;
  margin-top: 50px;
  margin-right: 10px;
  vertical-align: top;
}
.footer .wrapper ul .f:last-child {
  margin-right: 0;
}
.footer .wrapper ul .f > div {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer .wrapper ul .f > div h1 {
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #606060;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.footer .wrapper ul .f > div .line {
  margin-top: 30px;
  height: 1px;
  border-bottom: 1px #cccccc solid;
  width: 260px;
  margin: 0 auto 30px;
}
.footer .wrapper ul .f > div div:last-child {
  margin-bottom: 30px;
}
.mainPhoto ul {
  height: 100%;
  padding: 70px 0;
}
.mainPhoto ul > li {
  margin: 0 auto;
  display: inline-block;
  height: 425px;
  width: 425px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.mainPhoto ul > li a {
  height: 100%;
  width: 100%;
  display: block;
}
.mainPhoto ul li:first-child {
  background-image: url('../images/mainphoto1.png');
  margin-right: 18px;
}
.mainPhoto ul li:nth-child(2) {
  background-image: url('../images/mainphoto2.png');
  margin-right: 18px;
}
.mainPhoto ul li:last-child {
  background-image: url('../images/mainphoto3.png');
  margin-right: 0;
}
.mainLine {
  height: 0px;
  max-width: 1320px;
  border-top: 1px #a5a4a4 solid;
}
.mainList {
  padding-top: 70px;
}
.mainList .list {
  height: 100%;
}
.mainList .list ul {
  height: 100%;
  width: 100%;
  font-size: 0;
}
.mainList .list ul li {
  width: 315px;
  margin-bottom: 20px;
  border: 1px #cccccc solid;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
.mainList .list ul li > div {
  width: 270px;
  margin: 0 auto;
}
.mainList .list ul li > div.list_title {
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #474747;
  text-transform: uppercase;
  border-bottom: 1px #ebebeb solid;
}
.mainList .list ul li > div.list_contents span {
  display: block;
}
.mainList .list ul li > div.list_contents .data {
  margin-top: 20px;
  margin-bottom: 30px;
}
.mainList .list ul li > div.list_contents .content {
  font-size: 14px;
  line-height: 25px;
  height: 100%;
}
.mainList .list ul li > div a {
  display: block;
}
.mainList .list ul li > div.image {
  width: 100%;
}
.mainList .list ul li > div.image a {
  width: 100%;
  height: 100%;
}
.mainList .list ul li > div.tag {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
.mainList .list ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  .home .wrapper {
    padding: 10px;
  }
  .home .wrapper .mainPhoto ul {
    text-align: center;
  }
  .home .wrapper .mainPhoto ul li {
    width: 32%;
    margin-right: 5px;
    height: 272px;
  }
  .home .wrapper .mainPhoto ul li:last-child {
    margin-right: 0;
  }
  .home .wrapper .mainList {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .home .wrapper .m.mpreface {
    color: #474747;
    height: 80px;
    border-bottom: #cbcbcb 1px solid;
  }
  .home .wrapper .m.mpreface span {
    margin-left: 10px;
    line-height: 70px;
    color: #474747;
  }
  .home .wrapper .m.mpreface span:first-child {
    margin-left: 30px;
  }
  .home .wrapper .mbest {
    border-bottom: 3px #cbcbcb solid;
  }
  .home .wrapper .mbest .best {
    margin-left: 20px;
    padding: 20px;
  }
  .home .wrapper .mbest .best span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }
  .home .wrapper .mbest .bestlist {
    max-width: 480px;
    overflow: hidden;
  }
  .home .wrapper .mbest .bestlist ul {
    width: 300%;
    padding: 5px 20px 20px 20px;
    height: 100px;
  }
  .home .wrapper .mbest .bestlist ul li {
    display: inline-block;
  }
  .home .wrapper .mbest .bestlist ul li a {
    display: block;
  }
  .home .wrapper .mainPhoto {
    display: none;
  }
  .home .wrapper .mainList {
    padding-top: 0;
  }
  .home .wrapper .mainList .list ul:last-child {
    border-bottom: 1px #cbcbcb solid;
  }
  .home .wrapper .mainList .list ul li {
    width: 90%;
    margin: 20px 22px;
    border: 0;
    border-top: 1px #cbcbcb solid;
    border-radius: 0;
  }
  .home .wrapper .mainList .list ul li > div span {
    display: inline-block;
  }
  .home .wrapper .mainList .list ul li > div span a {
    display: inline-block;
  }
  .home .wrapper .mainList .list ul li .mre {
    text-align: right;
  }
  .home .wrapper .mainList .list ul li .mre span {
    margin-right: 10px;
  }
  .home .wrapper .mainList .list ul li .mre span:last-child {
    margin-right: 0;
  }
  .home .wrapper .mainList .list ul li .list_contents .content {
    margin-top: 40px;
  }
}
.subpage-aboutme .wrapper .aboutMe {
  margin-top: 100px;
  height: 100%;
}
.subpage-aboutme .wrapper .aboutMe .profil {
  margin: 0 auto;
  width: 520px;
  height: 520px;
  border-radius: 50%;
}
.subpage-aboutme .wrapper .aboutMe .content {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}
.subpage-aboutme .wrapper .aboutMe .content h1 {
  font-weight: bold;
  font-size: 40px;
  color: #c78c67;
}
.subpage-aboutme .wrapper .aboutMe .content span {
  display: block;
  padding: 80px;
}
.subpage-aboutme .wrapper .aboutMe .content span p {
  height: 100%;
  margin-bottom: 30px;
  color: #636363;
  font-size: 15px;
  font-weight: bold;
}
.subpage-aboutme .wrapper .aboutMe .content span p:nth-child(2) {
  color: #df9a79;
}
.subpage-aboutme .wrapper .aboutMe .content span p:last-child {
  margin-bottom: 0;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .wrap .wrapper .aboutMe {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .wrap .wrapper .aboutMe .profil {
    text-align: center;
    width: 200px;
    height: 200px;
  }
  .wrap .wrapper .aboutMe .profil img {
    width: 200px;
  }
  .wrap .wrapper .aboutMe .content {
    margin-top: 50px;
  }
  .wrap .wrapper .aboutMe .content h1 {
    font-size: 30px;
  }
  .wrap .wrapper .aboutMe .content span {
    padding: 0;
    margin-top: 30px;
  }
  .wrap .wrapper .aboutMe .content span p {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .subpage-aboutme {
    padding: 20px;
  }
  .subpage-aboutme .wrapper {
    max-width: 480px;
  }
  .subpage-aboutme .wrapper > ul {
    outline: 1px #f00 solid;
  }
  .subpage-aboutme .wrapper > ul > li .view {
    width: 100%;
  }
}
.subpage-news .wrapper .content.view {
  padding: 30px 0;
}
.subpage-news .wrapper .content.view .date {
  font-size: 13px;
}
.subpage-news .wrapper .content.view .news {
  padding: 70px 0;
}
.subpage-news .wrapper .content.view .news span {
  font-size: 15px;
}
.subpage-news .wrapper .content.view .news span p:last-child {
  margin-bottom: 0;
}
.subpage-news .wrapper .content.view > img {
  vertical-align: top;
  display: block;
}
.subpage-news .news_list .news_category {
  border: solid 1px #acacac;
  padding: 30px 30px;
}
.subpage-news .news_list .news_category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
}
.subpage-news .news_list .news_category ul li {
  display: inline-block;
  padding: 10px 0;
  color: #999999;
}
.subpage-news .news_list .news_category ul li:last-child {
  float: right;
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 480px) {
  .subpage-news .wrapper {
    max-width: 460px;
    margin: 0 auto;
  }
  .subpage-news .wrapper .news {
    padding: 20px;
  }
  .subpage-news .wrapper .news .content ul li .h {
    max-width: 380px;
  }
  .subpage-news .wrapper .news .content ul li .h h1 {
    font-size: 20px;
    padding: 30px 0;
  }
  .subpage-news .wrapper .news .content ul li .edit {
    margin-top: 35px;
  }
  .subpage-news .wrapper .news .content ul li .date {
    font-size: 7px;
  }
  .subpage-news .wrapper .news .content ul li .news span {
    font-size: 13px;
  }
  .subpage-news .wrapper .write img {
    width: 60px;
  }
  .subpage-news .wrapper .list .category {
    max-width: 400px;
    font-size: 13px;
    margin: 0 auto;
  }
}
.subpage-gallery .wrapper .content ul li {
  border-bottom: 1px #ebebeb solid;
}
.subpage-gallery .wrapper .content ul li .gallery {
  text-align: center;
}
.subpage-gallery .wrapper .content ul li .tag {
  padding: 30px 0;
  display: block;
}
.subpage-gallery .wrapper .gallery-list .gallery_category {
  border: solid 1px #acacac;
  padding: 30px 30px;
}
.subpage-gallery .wrapper .gallery-list .gallery_category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
}
@media screen and (max-width: 900px) {
  .subpage-gallery .wrapper .content {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .subpage-gallery .wrapper .content ul li .gallery img {
    max-width: 750px;
  }
  .subpage-gallery .wrapper .comment {
    max-width: 780px;
    margin: 0 auto;
  }
  .subpage-gallery .wrapper .comment .area input[type="submit"] {
    width: 80px;
    height: 32px;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .subpage-gallery .wrapper {
    padding: 10px;
    margin: 0 auto;
  }
  .subpage-gallery .wrapper .content {
    text-align: left;
    max-width: 450px;
  }
  .subpage-gallery .wrapper .content ul li .h h1 {
    font-size: 20px;
  }
  .subpage-gallery .wrapper .content ul li .date span {
    font-size: 7px;
  }
  .subpage-gallery .wrapper .content ul li .view {
    font-size: 13px;
  }
  .subpage-gallery .wrapper .content ul li .view img {
    width: 100%;
  }
  .subpage-gallery .wrapper .content ul li .tag {
    font-size: 13px;
  }
  .subpage-gallery .wrapper .write {
    padding: 10%;
  }
  .subpage-gallery .wrapper .write img {
    width: 60px;
  }
  .subpage-gallery .wrapper .comment {
    padding: 10px;
  }
  .subpage-gallery .wrapper .comment .area {
    margin: 0 auto;
    width: 100%;
    height: 90px;
  }
  .subpage-gallery .wrapper .comment .area input[type="submit"] {
    margin-top: 20px;
    width: 70px;
    height: 25px;
  }
}
.subpage-community .wrapper .content ul li {
  border-bottom: 1px #ebebeb solid;
}
.subpage-community .wrapper .content ul li .community {
  text-align: center;
}
.subpage-community .wrapper .content ul li .tag {
  padding: 30px 0;
  display: block;
}
@media screen and (max-width: 900px) {
  .subpage-community .wrapper .content {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .subpage-community .wrapper .content ul li .community img {
    max-width: 750px;
  }
  .subpage-community .wrapper .comment {
    max-width: 750px;
    margin: 0 auto;
  }
  .subpage-community .wrapper .comment .area textarea {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .subpage-community .wrapper .comment .area input[type="submit"] {
    max-width: 80px;
    max-height: 32px;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .subpage-community .wrapper {
    max-width: 460px;
    margin: 0 auto;
  }
  .subpage-community .wrapper .content {
    max-width: 450px;
  }
  .subpage-community .wrapper .content ul li .h h1 {
    font-size: 20px;
  }
  .subpage-community .wrapper .content ul li .date span {
    font-size: 7px;
  }
  .subpage-community .wrapper .content ul li .view span {
    font-size: 13px;
  }
  .subpage-community .wrapper .content ul li .view span img {
    width: 100%;
  }
  .subpage-community .wrapper .content ul li .tag {
    font-size: 13px;
  }
  .subpage-community .wrapper .write img {
    width: 60px;
  }
  .subpage-community .wrapper .comment {
    max-width: 450px;
  }
  .subpage-community .wrapper .comment .area textarea {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    display: block;
  }
  .subpage-community .wrapper .comment .area input[type="submit"] {
    margin-top: 20px;
    width: 70px;
    height: 25px;
  }
  .subpage-community .wrapper .list .category {
    max-width: 400px;
    font-size: 12px;
    margin: 0 auto;
  }
}
.subpage-price .wrapper .content .pricing {
  text-transform: uppercase;
  margin-bottom: 100px;
}
.subpage-price .wrapper .content .pricing .h {
  margin-top: 50px;
  line-height: 40px;
  text-align: center;
}
.subpage-price .wrapper .content .pricing .h h1 {
  font-weight: bold;
  font-size: 45px;
}
.subpage-price .wrapper .content .pricing .list {
  text-align: center;
}
.subpage-price .wrapper .content .pricing .list a ul {
  vertical-align: top;
  display: inline-block;
  width: 380px;
  height: 460px;
  border-radius: 10px;
  margin-right: 10px;
}
.subpage-price .wrapper .content .pricing .list a ul li {
  margin-top: 30px;
  color: #474747;
  font-weight: bold;
}
.subpage-price .wrapper .content .pricing .list a ul li span {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.subpage-price .wrapper .content .pricing .list a ul li span:first-child {
  margin-top: 0;
}
.subpage-price .wrapper .content .pricing .list a ul li .price {
  font-size: 30px;
}
.subpage-price .wrapper .content .pricing .list a ul .last {
  margin-top: 50px;
}
.subpage-price .wrapper .content .pricing .list a ul .last span {
  margin-top: 20px;
}
.subpage-price .wrapper .content .pricing .list a .pink {
  background-color: #fab6c4;
}
.subpage-price .wrapper .content .pricing .list a .pink:hover {
  background-color: rgba(250, 182, 196, 0.3);
}
.subpage-price .wrapper .content .pricing .list a .yellow {
  background-color: #fdc689;
}
.subpage-price .wrapper .content .pricing .list a .yellow:hover {
  background-color: rgba(253, 198, 137, 0.3);
}
.subpage-price .wrapper .content .pricing .list a .gray {
  background-color: #cccccc;
}
.subpage-price .wrapper .content .pricing .list a .gray:hover {
  background-color: rgba(204, 204, 204, 0.3);
}
.subpage-price .wrapper .content .pricing .list a .gray li {
  margin-top: 50%;
}
@media screen and (max-width: 900px) {
  .subpage-price .wrapper .content .pricing {
    max-width: 750px;
    margin: 0 auto;
  }
  .subpage-price .wrapper .content .pricing .list a {
    display: inline-block;
    width: 32%;
  }
  .subpage-price .wrapper .content .pricing .list a ul {
    width: 100%;
    margin-right: 5px;
    display: inline-block;
  }
  .subpage-price .wrapper .content .pricing .list a ul:last-child {
    margin-right: 0;
  }
  .subpage-price .wrapper .content .pricing .list a ul:last-child .last {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .subpage-price .wrapper {
    padding: 10px;
    margin: 0 auto;
  }
  .subpage-price .wrapper .content .pricing .h h1 {
    font-size: 25px;
  }
  .subpage-price .wrapper .content .pricing .h span {
    font-size: 15px;
  }
  .subpage-price .wrapper .content .pricing .list a {
    width: 220px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .subpage-price .wrapper .content .pricing .list a:first-child {
    margin-right: 10px;
  }
}
.subpage-contect .wrapper .content .contect {
  text-transform: uppercase;
  margin-bottom: 100px;
  max-width: 800px;
  margin: 0 auto;
}
.subpage-contect .wrapper .content .contect .h {
  margin-top: 50px;
  line-height: 40px;
  text-align: center;
}
.subpage-contect .wrapper .content .contect .h h1 {
  font-weight: bold;
  font-size: 45px;
}
.subpage-contect .wrapper .content .contect .photo {
  padding: 60px 0;
  text-align: center;
}
.subpage-contect .wrapper .content .contect .photo img {
  width: 800px;
}
.subpage-contect .wrapper .content .contect .contec {
  font-size: 16px;
  color: #474747;
}
.subpage-contect .wrapper .content .contect .memo {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  color: #999999;
}
.subpage-contect .wrapper .content .contect .memo > div {
  margin-top: 10px;
  display: inline-block;
}
.subpage-contect .wrapper .content .contect .memo > div input {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px #ccc solid;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 {
  color: #999999;
  width: 100%;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input:-ms-input-placeholder {
  color: #999999;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-webkit-input-placeholder {
  color: #999999;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-moz-placeholder {
  color: #999999;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-moz-placeholder {
  color: #999999;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input:first-child {
  margin-right: 7.9px;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input:first-child {
  float: left;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input:last-child {
  float: right;
}
.subpage-contect .wrapper .content .contect .memo .memo_1 input {
  width: 48%;
}
.subpage-contect .wrapper .content .contect .memo .memo_2 {
  width: 100%;
}
.subpage-contect .wrapper .content .contect .memo .memo_3 {
  width: 100%;
  height: 78px;
  font-size: 15px;
  color: #999999;
  font-family: 'Quicksand', 'Noto Sans', sans-serif;
}
.subpage-contect .wrapper .content .contect .memo .memo_3 .messege {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px #ccc solid;
}
.subpage-contect .wrapper .content .contect .memo .send {
  text-align: right;
  width: 250px;
  height: 50px;
}
.subpage-contect .wrapper .content .contect .memo .send input[type="submit"] {
  background-image: url('../images/send2.png');
  border-style: none;
  text-indent: -9999px;
  border-radius: 5px;
}
.subpage-contect .wrapper .content .contect .memo .send input[type="submit"]:hover {
  opacity: .5;
}
.mheader {
  display: none;
}
@media screen and (max-width: 900px) {
  .subpage-contect .wrapper .content .contect {
    max-width: 750px;
    margin: 0 auto;
  }
  .subpage-contect .wrapper .content .contect .photo {
    max-width: 750px;
  }
  .subpage-contect .wrapper .content .contect .photo img {
    max-width: 750px;
  }
  .subpage-contect .wrapper .content .contect .contec {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  #header {
    display: none;
  }
  .subpage-contect .wrapper .content {
    padding: 10px;
    margin: 0 auto;
  }
  .subpage-contect .wrapper .content .contect .h {
    line-height: normal;
  }
  .subpage-contect .wrapper .content .contect .h h1 {
    font-size: 25px;
  }
  .subpage-contect .wrapper .content .contect .photo {
    max-width: 450px;
  }
  .subpage-contect .wrapper .content .contect .photo img {
    width: 100%;
  }
  .subpage-contect .wrapper .content .contect .memo .memo_1 {
    display: inline-block;
  }
  .subpage-contect .wrapper .content .contect .memo .send {
    width: 200px;
  }
  .subpage-contect .wrapper .content .contect .memo .send input {
    width: 99%;
    height: 40px;
  }
}
.subpage-login .wrapper .content .login {
  text-transform: uppercase;
  margin-bottom: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}
.subpage-login .wrapper .content .login > div {
  margin-bottom: 50px;
}
.subpage-login .wrapper .content .login .h {
  margin-top: 50px;
  marline-height: 40px;
  text-align: center;
}
.subpage-login .wrapper .content .login .h h1 {
  font-weight: bold;
  font-size: 45px;
}
.subpage-login .wrapper .content .login .box {
  padding: 50px 0;
  background-color: #f2f2f3;
  text-align: center;
}
.subpage-login .wrapper .content .login .box > div {
  margin: 50px 0;
}
.subpage-login .wrapper .content .login .box > div a:hover {
  opacity: 0.5;
}
.subpage-login .wrapper .content .login .box .hh {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  .subpage-login .wrapper {
    padding: 10px;
    width: 100%;
  }
  .subpage-login .wrapper .content .login {
    padding: 20px;
    margin: 0 auto;
  }
  .subpage-login .wrapper .content .login .box {
    padding: 20px;
  }
  .subpage-login .wrapper .content .login .box > div img {
    width: 500px;
  }
  .subpage-login .wrapper .content .login .box .hh {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .subpage-login .wrapper {
    width: 460px;
    margin: 0 auto;
  }
  .subpage-login .wrapper .content {
    padding: 10px;
  }
  .subpage-login .wrapper .content .login {
    padding: 10px 20px;
  }
  .subpage-login .wrapper .content .login .h h1 {
    font-size: 25px;
  }
  .subpage-login .wrapper .content .login .box > div {
    margin: 20px 0;
    width: 100%;
    height: 100%;
  }
  .subpage-login .wrapper .content .login .box > div span {
    font-size: 17px;
  }
  .subpage-login .wrapper .content .login .box > div img {
    width: 300px;
  }
}
