/* line 3, assets\less\common.less */
* {
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 9, assets\less\common.less */
body {
  font-family: 'Quicksand', 'Noto Sans', sans-serif;
}
/* line 12, assets\less\common.less */
html {
  height: 100%;
}
/* line 14, assets\less\common.less */
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
/* line 19, assets\less\common.less */
html body .m {
  display: none;
}
/* line 24, assets\less\common.less */
ul,
ol,
h1,
h2,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 29, assets\less\common.less */
a {
  text-decoration: none;
  color: #474747;
}
/* line 33, assets\less\common.less */
a:hover {
  color: #df9a79;
}
/* line 39, assets\less\common.less */
.wrap .wrapper {
  padding: 10px;
  max-width: 1320px;
  margin: 0 auto;
}
/* line 43, assets\less\common.less */
.wrap .wrapper .content.view {
  color: #606060;
  text-align: left;
}
/* line 49, assets\less\common.less */
.wrap .wrapper .content.view ul li .gallery img {
  width: 100%;
}
/* line 53, assets\less\common.less */
.wrap .wrapper .content.view ul li .h {
  float: left;
}
/* line 55, assets\less\common.less */
.wrap .wrapper .content.view ul li .h h1 {
  padding: 70px 0;
  display: inline-block;
}
/* line 60, assets\less\common.less */
.wrap .wrapper .content.view ul li .edit {
  float: right;
  margin-top: 82px;
}
/* line 63, assets\less\common.less */
.wrap .wrapper .content.view ul li .edit img {
  vertical-align: -5px;
  float: left;
  margin-right: 10px;
}
/* line 68, assets\less\common.less */
.wrap .wrapper .content.view ul li .edit .edit_del {
  float: right;
  display: none;
}
/* line 73, assets\less\common.less */
.wrap .wrapper .content.view ul li .edit span a {
  display: inline-block;
  color: #acacac;
}
/* line 77, assets\less\common.less */
.wrap .wrapper .content.view ul li .edit span:hover {
  color: #df9a79;
}
/* line 82, assets\less\common.less */
.wrap .wrapper .content.view ul li .date {
  clear: both;
}
/* line 85, assets\less\common.less */
.wrap .wrapper .content.view ul li .view {
  padding: 70px 0;
}
/* line 88, assets\less\common.less */
.wrap .wrapper .content.view ul li .view span p {
  text-align: left;
}
/* line 96, assets\less\common.less */
.wrap .wrapper .write {
  padding: 50px 0;
  text-align: center;
}
/* line 99, assets\less\common.less */
.wrap .wrapper .write span {
  text-align: center;
}
/* line 101, assets\less\common.less */
.wrap .wrapper .write span img {
  vertical-align: middle;
  border-radius: 5px;
}
/* line 107, assets\less\common.less */
.wrap .wrapper .comment {
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}
/* line 113, assets\less\common.less */
.wrap .wrapper .comment .icon > span {
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 118, assets\less\common.less */
.wrap .wrapper .comment .icon > span img {
  vertical-align: middle;
}
/* line 123, assets\less\common.less */
.wrap .wrapper .comment .area {
  margin: 0 auto;
  width: 100%;
  height: 150px;
}
/* line 127, assets\less\common.less */
.wrap .wrapper .comment .area textarea {
  box-sizing: border-box;
  border: solid 1px #acacac;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  color: #474747;
  text-transform: uppercase;
}
/* line 138, assets\less\common.less */
.wrap .wrapper .comment .area input[type="submit"] {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 37px;
  background-image: url('../images/send.png');
  background-position: center;
  border-style: none;
  text-indent: -9999px;
  float: right;
  border-radius: 5px;
}
/* line 153, assets\less\common.less */
.wrap .wrapper .list {
  margin-top: 30px;
}
/* line 155, assets\less\common.less */
.wrap .wrapper .list .category {
  border: solid 1px #acacac;
  padding: 30px 30px;
  color: #999999;
}
/* line 159, assets\less\common.less */
.wrap .wrapper .list .category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
  padding-bottom: 10px;
}
/* line 167, assets\less\common.less */
.wrap .wrapper .list .category ul {
  color: #999999;
}
/* line 169, assets\less\common.less */
.wrap .wrapper .list .category ul li {
  display: inline-block;
  padding: 10px 0;
}
/* line 172, assets\less\common.less */
.wrap .wrapper .list .category ul li a {
  color: #999999;
}
/* line 175, assets\less\common.less */
.wrap .wrapper .list .category ul li:last-child {
  float: right;
}
/* line 182, assets\less\common.less */
.wrap .wrapper .page_num {
  margin-top: 30px;
  text-align: center;
}
/* line 185, assets\less\common.less */
.wrap .wrapper .page_num .num {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
  padding: 30px 0;
}
/* line 191, assets\less\common.less */
.wrap .wrapper .page_num .num a {
  margin-right: 5px;
}
/* line 194, assets\less\common.less */
.wrap .wrapper .page_num .num a:last-child {
  margin-right: 0;
}
/* line 203, assets\less\common.less */
.top {
  float: right;
}
/* line 205, assets\less\common.less */
.top a {
  display: block;
}
/* line 209, assets\less\common.less */
.header {
  background-size: cover;
  background-position: center;
  height: 100%;
}
/* line 213, assets\less\common.less */
.header .wrapper {
  padding: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 218, assets\less\common.less */
.header .wrapper .gnb {
  margin-top: 50px;
}
/* line 220, assets\less\common.less */
.header .wrapper .gnb .social {
  float: left;
}
/* line 223, assets\less\common.less */
.header .wrapper .gnb .social ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: 100%;
}
/* line 229, assets\less\common.less */
.header .wrapper .gnb .social ul li a {
  display: block;
  height: 100%;
}
/* line 234, assets\less\common.less */
.header .wrapper .gnb .social ul li:first-child {
  background-image: url('../images/kakao.png');
}
/* line 237, assets\less\common.less */
.header .wrapper .gnb .social ul li:nth-child(2) {
  background-image: url('../images/facebook.png');
}
/* line 240, assets\less\common.less */
.header .wrapper .gnb .social ul li:nth-child(3) {
  background-image: url('../images/NAVER.png');
}
/* line 243, assets\less\common.less */
.header .wrapper .gnb .social ul li:nth-child(4) {
  background-image: url('../images/yutube.png');
}
/* line 246, assets\less\common.less */
.header .wrapper .gnb .social ul li:last-child {
  background-image: url('../images/instagram.png');
}
/* line 252, assets\less\common.less */
.header .wrapper .gnb .login {
  float: right;
}
/* line 255, assets\less\common.less */
.header .wrapper .gnb .login ul li {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
}
/* line 261, assets\less\common.less */
.header .wrapper .gnb .login ul li a {
  color: #ffffff;
}
/* line 270, assets\less\common.less */
.header .wrapper .title div {
  margin: 0 auto;
  margin-top: 120px;
  width: 418px;
  height: 60px;
  background-image: url('../images/blogname.png');
}
/* line 276, assets\less\common.less */
.header .wrapper .title div a {
  display: block;
  height: 100%;
}
/* line 284, assets\less\common.less */
.header .wrapper .link ul {
  position: absolute;
  bottom: 20px;
}
/* line 287, assets\less\common.less */
.header .wrapper .link ul li {
  display: inline-block;
  margin-right: 20px;
  width: 180px;
  height: 240px;
  position: relative;
}
/* line 293, assets\less\common.less */
.header .wrapper .link ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 297, assets\less\common.less */
.header .wrapper .link ul li a:hover {
  background-color: #333;
  opacity: .5;
}
/* line 303, assets\less\common.less */
.header .wrapper .link ul li:first-child {
  background-image: url('../images/link1.png');
}
/* line 306, assets\less\common.less */
.header .wrapper .link ul li:nth-child(2) {
  background-image: url('../images/link2.png');
}
/* line 309, assets\less\common.less */
.header .wrapper .link ul li:nth-child(3) {
  background-image: url('../images/link3.png');
}
/* line 312, assets\less\common.less */
.header .wrapper .link ul li:last-child {
  background-image: url('../images/link4.png');
}
/* line 321, assets\less\common.less */
.home .wrapper > div {
  margin: 0 auto;
}
/* line 326, assets\less\common.less */
.nav {
  height: 100px;
  border-bottom: 1px #ebebeb solid;
}
/* line 329, assets\less\common.less */
.nav > ul {
  text-align: center;
  line-height: 100px;
}
/* line 332, assets\less\common.less */
.nav > ul > li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #474747;
  font-weight: bold;
  vertical-align: top;
  position: relative;
}
/* line 341, assets\less\common.less */
.nav > ul > li > a {
  width: 100%;
  height: 100px;
  display: block;
}
/* line 346, assets\less\common.less */
.nav > ul > li > ul {
  font-size: 12px;
  font-weight: normal;
  border: 1px #ebebeb solid;
  padding: 10px 10px;
  position: absolute;
  top: 60px;
  background-color: #fff;
  display: none;
}
/* line 355, assets\less\common.less */
.nav > ul > li > ul > li {
  line-height: 30px;
  width: 100px;
}
/* line 364, assets\less\common.less */
.insta {
  clear: both;
}
/* line 366, assets\less\common.less */
.insta ul {
  overflow: hidden;
}
/* line 368, assets\less\common.less */
.insta ul li {
  float: left;
  width: 12.5%;
  height: 237.63px;
}
/* line 373, assets\less\common.less */
.insta ul li > div a {
  display: block;
}
/* line 381, assets\less\common.less */
.insta {
  margin-top: 100px;
}
/* line 383, assets\less\common.less */
.insta ul {
  font-size: 0;
}
/* line 386, assets\less\common.less */
.insta ul li .image {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  background-position: center;
}
/* line 392, assets\less\common.less */
.insta ul li .image a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 400, assets\less\common.less */
.insta ul li:first-child .image {
  background-image: url('../images/insta/insta1.png');
}
/* line 405, assets\less\common.less */
.insta ul li:nth-child(2) .image {
  background-image: url('../images/insta/insta2.png');
}
/* line 410, assets\less\common.less */
.insta ul li:nth-child(3) .image {
  background-image: url('../images/insta/insta3.png');
}
/* line 415, assets\less\common.less */
.insta ul li:nth-child(4) .image {
  background-image: url('../images/insta/insta4.png');
}
/* line 420, assets\less\common.less */
.insta ul li:nth-child(5) .image {
  background-image: url('../images/insta/insta5.png');
  background-position: center;
  height: 100%;
}
/* line 427, assets\less\common.less */
.insta ul li:nth-child(6) .image {
  background-image: url('../images/insta/insta6.png');
}
/* line 432, assets\less\common.less */
.insta ul li:nth-child(7) .image {
  background-image: url('../images/insta/insta7.png');
}
/* line 437, assets\less\common.less */
.insta ul li:last-child .image {
  background-image: url('../images/insta/insta8.png');
}
/* line 443, assets\less\common.less */
.footerline {
  height: 1px;
  border-bottom: 1px #ffffff solid;
}
/* line 451, assets\less\common.less */
.footer .wrapper .footerlist .f > div {
  margin: 0 auto;
}
/* line 458, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .profil .image {
  margin: 0 auto;
  width: 200px;
  height: 160px;
  background-image: url('../images/profil.jpg');
  background-size: 200px;
}
/* line 466, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .content {
  color: #54565b;
  width: 200px;
  margin: 0 auto;
}
/* line 470, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .content h2 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
/* line 475, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .content p {
  margin-top: 20px;
  font-size: 14px;
  color: #76777b;
}
/* line 481, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .content .image .set {
  background-image: url('../images/settings.png');
  background-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 160px;
  margin-right: 10px;
}
/* line 490, assets\less\common.less */
.footer .wrapper .footerlist .aboutMe .fWrapper .content .image .edit {
  background-image: url('../images/edit.png');
  background-position: center;
  display: inline-block;
  width: 15px;
  height: 15px;
}
/* line 503, assets\less\common.less */
.footer .wrapper .footerlist .category .fWrapper .fCategory {
  width: 160px;
  margin: 0 auto 30px;
}
/* line 506, assets\less\common.less */
.footer .wrapper .footerlist .category .fWrapper .fCategory h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.86;
}
/* line 517, assets\less\common.less */
.footer .wrapper .footerlist .tag .fTag .content {
  height: 100%;
  width: 260px;
  margin: 0 auto;
}
/* line 521, assets\less\common.less */
.footer .wrapper .footerlist .tag .fTag .content a {
  height: 100%;
}
/* line 523, assets\less\common.less */
.footer .wrapper .footerlist .tag .fTag .content a span {
  border: solid 1px #b79687;
  padding: 0 10px;
  height: 25px;
  display: inline-block;
  margin: 5px 5px 0;
}
/* line 529, assets\less\common.less */
.footer .wrapper .footerlist .tag .fTag .content a span p {
  color: #54565b;
  height: 100%;
  font-size: 14px;
  line-height: 25px;
}
/* line 541, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch {
  width: 170px;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 546, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch span input[type=button] {
  background-image: url('../images/search.png');
  width: 29px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: #f7f7f7;
}
/* line 556, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch span input[type=text] {
  width: 130px;
  height: 29px;
  border: none;
  border-bottom: solid 2px #df9a79;
  vertical-align: middle;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 14px;
}
/* line 567, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch .counter {
  margin-top: 120px;
  width: 160px;
  height: 30px;
  text-align: center;
}
/* line 572, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch .counter span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 15px;
}
/* line 579, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch .counter span:last-child {
  margin-right: 0;
  color: #606060;
}
/* line 583, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch .counter span:nth-child(1) {
  color: #ff647e;
}
/* line 586, assets\less\common.less */
.footer .wrapper .footerlist .search .fSearch .counter span:nth-child(2) {
  color: #326195;
}
/* line 593, assets\less\common.less */
.footer .wrapper .foot {
  height: 50px;
}
/* line 595, assets\less\common.less */
.footer .wrapper .foot li {
  font-size: 12px;
  text-align: center;
  color: #606060;
  line-height: 50px;
  letter-spacing: 0.1em;
  border-top: 1px #ffffff solid;
}
/* line 606, assets\less\common.less */
.parallax-window {
  min-height: 400px;
  background: transparent;
}
@media screen and (max-width: 900px) {
  /* line 616, assets\less\common.less */
  .header .wrapper {
    max-width: 850px;
  }
  /* line 619, assets\less\common.less */
  .header .wrapper .gnb > div {
    margin-top: -20px;
  }
  /* line 623, assets\less\common.less */
  .header .wrapper .gnb .social ul {
    text-align: center;
  }
  /* line 625, assets\less\common.less */
  .header .wrapper .gnb .social ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  /* line 631, assets\less\common.less */
  .header .wrapper .gnb .social ul li a {
    width: 20px;
    height: 20px;
  }
  /* line 638, assets\less\common.less */
  .header .wrapper .gnb .login {
    float: right;
  }
  /* line 641, assets\less\common.less */
  .header .wrapper .gnb .login ul li {
    font-size: 13px;
  }
  /* line 648, assets\less\common.less */
  .header .wrapper .title > div {
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 40px;
    margin-top: 70px;
  }
  /* line 659, assets\less\common.less */
  .header .wrapper .link ul li {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 80px;
    height: 110px;
  }
  /* line 671, assets\less\common.less */
  .footer .wrapper {
    max-width: 850px;
  }
  /* line 674, assets\less\common.less */
  .footer .wrapper .footerlist .f {
    width: 212px;
    margin-right: 0;
  }
  /* line 677, assets\less\common.less */
  .footer .wrapper .footerlist .f h1 {
    font-size: 20px;
  }
  /* line 680, assets\less\common.less */
  .footer .wrapper .footerlist .f .fWrapper {
    width: 212px;
  }
  /* line 682, assets\less\common.less */
  .footer .wrapper .footerlist .f .fWrapper .profil {
    margin: 0 auto;
  }
  /* line 685, assets\less\common.less */
  .footer .wrapper .footerlist .f .fWrapper .line {
    width: 180px;
  }
  /* line 690, assets\less\common.less */
  .footer .wrapper .footerlist .f .fWrapper .fTag .content {
    width: 212px;
  }
  /* line 698, assets\less\common.less */
  .footer .wrapper .foot li {
    font-size: 10px;
  }
  /* line 706, assets\less\common.less */
  .wrap .top a {
    width: 40px;
    height: 40px;
  }
  /* line 709, assets\less\common.less */
  .wrap .top a img {
    width: 40px;
  }
  /* line 717, assets\less\common.less */
  .wrap .wrapper {
    max-width: 850px;
  }
}
@media screen and (max-width: 480px) {
  /* line 725, assets\less\common.less */
  #main #header {
    display: block;
  }
  /* line 728, assets\less\common.less */
  #main .mheader {
    display: none;
  }
  /* line 731, assets\less\common.less */
  .mheader {
    display: none;
  }
  /* line 735, assets\less\common.less */
  #nav li {
    display: none;
  }
  /* line 738, assets\less\common.less */
  #nav li > ul li {
    display: none;
  }
  /* line 745, assets\less\common.less */
  html body .m {
    display: block;
  }
  /* line 750, assets\less\common.less */
  #header {
    background-size: cover;
  }
  /* line 752, assets\less\common.less */
  #header .wrapper {
    position: relative;
    height: 100%;
  }
  /* line 756, assets\less\common.less */
  #header .wrapper .link {
    display: none;
  }
  /* line 760, assets\less\common.less */
  #header .wrapper .gnb .social {
    display: none;
  }
  /* line 763, assets\less\common.less */
  #header .wrapper .gnb .login {
    display: none;
  }
  /* line 766, assets\less\common.less */
  #header .wrapper .gnb .mlogin {
    display: block;
    overflow: hidden;
  }
  /* line 769, assets\less\common.less */
  #header .wrapper .gnb .mlogin ul {
    margin-right: 20px;
  }
  /* line 771, assets\less\common.less */
  #header .wrapper .gnb .mlogin ul li {
    display: inline-block;
    float: right;
  }
  /* line 776, assets\less\common.less */
  #header .wrapper .gnb .mlogin ul li:last-child img {
    margin-right: 5px;
  }
  /* line 783, assets\less\common.less */
  #header .wrapper .mcount {
    display: block;
    margin-top: 50px;
  }
  /* line 786, assets\less\common.less */
  #header .wrapper .mcount ul {
    text-align: center;
  }
  /* line 788, assets\less\common.less */
  #header .wrapper .mcount ul li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  /* line 794, assets\less\common.less */
  #header .wrapper .mcount ul li span:first-child {
    margin-right: 10px;
  }
  /* line 799, assets\less\common.less */
  #header .wrapper .mcount ul li:last-child {
    margin-right: 0;
  }
  /* line 805, assets\less\common.less */
  #header .wrapper .title > div {
    margin-top: 30px;
  }
  /* line 809, assets\less\common.less */
  #header .wrapper .mcover {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
  }
  /* line 813, assets\less\common.less */
  #header .wrapper .mcover ul {
    display: block;
  }
  /* line 816, assets\less\common.less */
  #header .wrapper .mcover .profil {
    margin-bottom: 20px;
  }
  /* line 818, assets\less\common.less */
  #header .wrapper .mcover .profil li {
    display: block;
    margin-left: 20px;
  }
  /* line 824, assets\less\common.less */
  #header .wrapper .mcover .coverlist li {
    display: inline-block;
    margin-right: 5px;
  }
  /* line 827, assets\less\common.less */
  #header .wrapper .mcover .coverlist li:first-child {
    margin-left: 20px;
  }
  /* line 830, assets\less\common.less */
  #header .wrapper .mcover .coverlist li:last-child {
    margin-right: 0;
  }
  /* line 841, assets\less\common.less */
  .mheader {
    position: fixed;
    height: 50px;
    border-bottom: 1px #cbcbcb solid;
    width: 100%;
    background-color: #ffffff;
  }
  /* line 847, assets\less\common.less */
  .mheader .wrapper {
    padding: 0 20px;
    line-height: 50px;
    text-align: center;
  }
  /* line 851, assets\less\common.less */
  .mheader .wrapper .menu {
    margin: 0 auto;
    display: inline-block;
  }
  /* line 855, assets\less\common.less */
  .mheader .wrapper .search {
    float: right;
    line-height: 50px;
  }
  /* line 859, assets\less\common.less */
  .mheader .wrapper .search span img {
    width: 17px;
    height: 17px;
  }
  /* line 867, assets\less\common.less */
  .m.wrap.mnav {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
  }
  /* line 879, assets\less\common.less */
  .m.wrap.mnav .nav_head {
    border-bottom: 1px solid #cbcbcb;
    padding: 10px;
  }
  /* line 883, assets\less\common.less */
  .m.wrap.mnav .nav_head .x img {
    float: left;
    position: center;
    margin-top: 15px;
  }
  /* line 889, assets\less\common.less */
  .m.wrap.mnav .nav_head .category {
    text-align: center;
    padding: 10px;
  }
  /* line 896, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul {
    padding: 30px;
  }
  /* line 898, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li {
    padding: 10px;
    border-bottom: 1px solid #cbcbcb;
  }
  /* line 902, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li a {
    display: block;
    overflow: hidden;
  }
  /* line 906, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li .name {
    float: left;
  }
  /* line 909, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li .su {
    float: right;
  }
  /* line 912, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li ul {
    padding: 10px;
  }
  /* line 914, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li ul li {
    padding: 5px;
  }
  /* line 916, assets\less\common.less */
  .m.wrap.mnav .nav_list > ul > li ul li a {
    color: #959595;
  }
  /* line 926, assets\less\common.less */
  .wrap {
    padding: 10px;
  }
  /* line 929, assets\less\common.less */
  .wrap .wrapper .list {
    font-size: 13px;
  }
  /* line 933, assets\less\common.less */
  .wrap .top {
    margin-top: 50px;
  }
  /* line 939, assets\less\common.less */
  .home .wrapper .nav {
    display: none;
  }
  /* line 943, assets\less\common.less */
  .home .top {
    margin-top: 20px;
  }
  /* line 947, assets\less\common.less */
  .insta {
    padding: 10px;
    border: 1px #cbcbcb solid;
  }
  /* line 950, assets\less\common.less */
  .insta ul {
    border: 1px #cbcbcb solid;
  }
  /* line 952, assets\less\common.less */
  .insta ul li {
    display: block;
    width: 25%;
    height: 114px;
  }
  /* line 956, assets\less\common.less */
  .insta ul li .image {
    width: 100%;
    height: 100%;
  }
  /* line 959, assets\less\common.less */
  .insta ul li .image a {
    height: 100%;
    width: 100%;
  }
  /* line 967, assets\less\common.less */
  .footer {
    padding: 20px;
    border: 1px #cbcbcb solid;
  }
  /* line 970, assets\less\common.less */
  .footer .wrapper {
    border: 1px #cbcbcb solid;
    margin: 0 auto;
  }
  /* line 974, assets\less\common.less */
  .footer .wrapper .footerlist .f {
    display: inline-block;
    margin: 0 auto;
  }
}
/* line 2, assets\less\style.less */
.footer {
  background-color: #f7f7f7;
}
/* line 5, assets\less\style.less */
.footer .wrapper ul {
  font-size: 0;
}
/* line 7, assets\less\style.less */
.footer .wrapper ul .f {
  display: inline-block;
  width: 322.5px;
  margin-top: 50px;
  margin-right: 10px;
  vertical-align: top;
}
/* line 13, assets\less\style.less */
.footer .wrapper ul .f:last-child {
  margin-right: 0;
}
/* line 16, assets\less\style.less */
.footer .wrapper ul .f > div {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 20, assets\less\style.less */
.footer .wrapper ul .f > div h1 {
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #606060;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
/* line 28, assets\less\style.less */
.footer .wrapper ul .f > div .line {
  margin-top: 30px;
  height: 1px;
  border-bottom: 1px #cccccc solid;
  width: 260px;
  margin: 0 auto 30px;
}
/* line 35, assets\less\style.less */
.footer .wrapper ul .f > div div:last-child {
  margin-bottom: 30px;
}
/* line 45, assets\less\style.less */
.mainPhoto ul {
  height: 100%;
  padding: 70px 0;
}
/* line 48, assets\less\style.less */
.mainPhoto ul > li {
  margin: 0 auto;
  display: inline-block;
  height: 425px;
  width: 425px;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 55, assets\less\style.less */
.mainPhoto ul > li a {
  height: 100%;
  width: 100%;
  display: block;
}
/* line 61, assets\less\style.less */
.mainPhoto ul li:first-child {
  background-image: url('../images/mainphoto1.png');
  margin-right: 18px;
}
/* line 65, assets\less\style.less */
.mainPhoto ul li:nth-child(2) {
  background-image: url('../images/mainphoto2.png');
  margin-right: 18px;
}
/* line 69, assets\less\style.less */
.mainPhoto ul li:last-child {
  background-image: url('../images/mainphoto3.png');
  margin-right: 0;
}
/* line 75, assets\less\style.less */
.mainLine {
  height: 0px;
  max-width: 1320px;
  border-top: 1px #a5a4a4 solid;
}
/* line 80, assets\less\style.less */
.mainList {
  padding-top: 70px;
}
/* line 82, assets\less\style.less */
.mainList .list {
  height: 100%;
}
/* line 84, assets\less\style.less */
.mainList .list ul {
  height: 100%;
  width: 100%;
  font-size: 0;
}
/* line 88, assets\less\style.less */
.mainList .list ul li {
  width: 315px;
  margin-bottom: 20px;
  border: 1px #cccccc solid;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
/* line 95, assets\less\style.less */
.mainList .list ul li > div {
  width: 270px;
  margin: 0 auto;
}
/* line 98, assets\less\style.less */
.mainList .list ul li > div.list_title {
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #474747;
  text-transform: uppercase;
  border-bottom: 1px #ebebeb solid;
}
/* line 107, assets\less\style.less */
.mainList .list ul li > div.list_contents span {
  display: block;
}
/* line 110, assets\less\style.less */
.mainList .list ul li > div.list_contents .data {
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 114, assets\less\style.less */
.mainList .list ul li > div.list_contents .content {
  font-size: 14px;
  line-height: 25px;
  height: 100%;
}
/* line 120, assets\less\style.less */
.mainList .list ul li > div a {
  display: block;
}
/* line 123, assets\less\style.less */
.mainList .list ul li > div.image {
  width: 100%;
}
/* line 125, assets\less\style.less */
.mainList .list ul li > div.image a {
  width: 100%;
  height: 100%;
}
/* line 130, assets\less\style.less */
.mainList .list ul li > div.tag {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
/* line 136, assets\less\style.less */
.mainList .list ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  /* line 148, assets\less\style.less */
  .home .wrapper {
    padding: 10px;
  }
  /* line 151, assets\less\style.less */
  .home .wrapper .mainPhoto ul {
    text-align: center;
  }
  /* line 153, assets\less\style.less */
  .home .wrapper .mainPhoto ul li {
    width: 32%;
    margin-right: 5px;
    height: 272px;
  }
  /* line 157, assets\less\style.less */
  .home .wrapper .mainPhoto ul li:last-child {
    margin-right: 0;
  }
  /* line 163, assets\less\style.less */
  .home .wrapper .mainList {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  /* line 175, assets\less\style.less */
  .home .wrapper .m.mpreface {
    color: #474747;
    height: 80px;
    border-bottom: #cbcbcb 1px solid;
  }
  /* line 179, assets\less\style.less */
  .home .wrapper .m.mpreface span {
    margin-left: 10px;
    line-height: 70px;
    color: #474747;
  }
  /* line 183, assets\less\style.less */
  .home .wrapper .m.mpreface span:first-child {
    margin-left: 30px;
  }
  /* line 188, assets\less\style.less */
  .home .wrapper .mbest {
    border-bottom: 3px #cbcbcb solid;
  }
  /* line 190, assets\less\style.less */
  .home .wrapper .mbest .best {
    margin-left: 20px;
    padding: 20px;
  }
  /* line 193, assets\less\style.less */
  .home .wrapper .mbest .best span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }
  /* line 199, assets\less\style.less */
  .home .wrapper .mbest .bestlist {
    max-width: 480px;
    overflow: hidden;
  }
  /* line 202, assets\less\style.less */
  .home .wrapper .mbest .bestlist ul {
    width: 300%;
    padding: 5px 20px 20px 20px;
    height: 100px;
  }
  /* line 206, assets\less\style.less */
  .home .wrapper .mbest .bestlist ul li {
    display: inline-block;
  }
  /* line 208, assets\less\style.less */
  .home .wrapper .mbest .bestlist ul li a {
    display: block;
  }
  /* line 215, assets\less\style.less */
  .home .wrapper .mainPhoto {
    display: none;
  }
  /* line 218, assets\less\style.less */
  .home .wrapper .mainList {
    padding-top: 0;
  }
  /* line 222, assets\less\style.less */
  .home .wrapper .mainList .list ul:last-child {
    border-bottom: 1px #cbcbcb solid;
  }
  /* line 225, assets\less\style.less */
  .home .wrapper .mainList .list ul li {
    width: 90%;
    margin: 20px 22px;
    border: 0;
    border-top: 1px #cbcbcb solid;
    border-radius: 0;
  }
  /* line 232, assets\less\style.less */
  .home .wrapper .mainList .list ul li > div span {
    display: inline-block;
  }
  /* line 234, assets\less\style.less */
  .home .wrapper .mainList .list ul li > div span a {
    display: inline-block;
  }
  /* line 239, assets\less\style.less */
  .home .wrapper .mainList .list ul li .mre {
    text-align: right;
  }
  /* line 241, assets\less\style.less */
  .home .wrapper .mainList .list ul li .mre span {
    margin-right: 10px;
  }
  /* line 243, assets\less\style.less */
  .home .wrapper .mainList .list ul li .mre span:last-child {
    margin-right: 0;
  }
  /* line 249, assets\less\style.less */
  .home .wrapper .mainList .list ul li .list_contents .content {
    margin-top: 40px;
  }
}
/* line 4, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe {
  margin-top: 100px;
  height: 100%;
}
/* line 7, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .profil {
  margin: 0 auto;
  width: 520px;
  height: 520px;
  border-radius: 50%;
}
/* line 13, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}
/* line 17, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content h1 {
  font-weight: bold;
  font-size: 40px;
  color: #c78c67;
}
/* line 22, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content span {
  display: block;
  padding: 80px;
}
/* line 25, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content span p {
  height: 100%;
  margin-bottom: 30px;
  color: #636363;
  font-size: 15px;
  font-weight: bold;
}
/* line 32, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content span p:nth-child(2) {
  color: #df9a79;
}
/* line 35, assets\less\subAboutme.less */
.subpage-aboutme .wrapper .aboutMe .content span p:last-child {
  margin-bottom: 0;
  text-align: right;
}
@media screen and (max-width: 900px) {
  /* line 49, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  /* line 53, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .profil {
    text-align: center;
    width: 200px;
    height: 200px;
  }
  /* line 57, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .profil img {
    width: 200px;
  }
  /* line 61, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .content {
    margin-top: 50px;
  }
  /* line 63, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .content h1 {
    font-size: 30px;
  }
  /* line 66, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .content span {
    padding: 0;
    margin-top: 30px;
  }
  /* line 69, assets\less\subAboutme.less */
  .wrap .wrapper .aboutMe .content span p {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  /* line 81, assets\less\subAboutme.less */
  .subpage-aboutme {
    padding: 20px;
  }
  /* line 83, assets\less\subAboutme.less */
  .subpage-aboutme .wrapper {
    max-width: 480px;
  }
  /* line 85, assets\less\subAboutme.less */
  .subpage-aboutme .wrapper > ul {
    outline: 1px #f00 solid;
  }
  /* line 88, assets\less\subAboutme.less */
  .subpage-aboutme .wrapper > ul > li .view {
    width: 100%;
  }
}
/* line 3, assets\less\subNews.less */
.subpage-news .wrapper .content.view {
  padding: 30px 0;
}
/* line 4, assets\less\subNews.less */
.subpage-news .wrapper .content.view .date {
  font-size: 13px;
}
/* line 7, assets\less\subNews.less */
.subpage-news .wrapper .content.view .news {
  padding: 70px 0;
}
/* line 9, assets\less\subNews.less */
.subpage-news .wrapper .content.view .news span {
  font-size: 15px;
}
/* line 13, assets\less\subNews.less */
.subpage-news .wrapper .content.view .news span p:last-child {
  margin-bottom: 0;
}
/* line 19, assets\less\subNews.less */
.subpage-news .wrapper .content.view > img {
  vertical-align: top;
  display: block;
}
/* line 26, assets\less\subNews.less */
.subpage-news .news_list .news_category {
  border: solid 1px #acacac;
  padding: 30px 30px;
}
/* line 29, assets\less\subNews.less */
.subpage-news .news_list .news_category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
}
/* line 37, assets\less\subNews.less */
.subpage-news .news_list .news_category ul li {
  display: inline-block;
  padding: 10px 0;
  color: #999999;
}
/* line 42, assets\less\subNews.less */
.subpage-news .news_list .news_category ul li:last-child {
  float: right;
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 480px) {
  /* line 71, assets\less\subNews.less */
  .subpage-news .wrapper {
    width: 460px;
    margin: 0 auto;
  }
  /* line 74, assets\less\subNews.less */
  .subpage-news .wrapper .news {
    padding: 20px;
  }
  /* line 79, assets\less\subNews.less */
  .subpage-news .wrapper .news .content ul li .h {
    width: 380px;
  }
  /* line 81, assets\less\subNews.less */
  .subpage-news .wrapper .news .content ul li .h h1 {
    font-size: 20px;
    padding: 30px 0;
  }
  /* line 86, assets\less\subNews.less */
  .subpage-news .wrapper .news .content ul li .edit {
    margin-top: 35px;
  }
  /* line 89, assets\less\subNews.less */
  .subpage-news .wrapper .news .content ul li .date {
    font-size: 7px;
  }
  /* line 93, assets\less\subNews.less */
  .subpage-news .wrapper .news .content ul li .news span {
    font-size: 13px;
  }
  /* line 102, assets\less\subNews.less */
  .subpage-news .wrapper .write img {
    width: 60px;
  }
  /* line 107, assets\less\subNews.less */
  .subpage-news .wrapper .list .category {
    width: 400px;
    font-size: 13px;
    margin: 0 auto;
  }
}
/* line 5, assets\less\subGallery.less */
.subpage-gallery .wrapper .content ul li {
  border-bottom: 1px #ebebeb solid;
}
/* line 7, assets\less\subGallery.less */
.subpage-gallery .wrapper .content ul li .gallery {
  text-align: center;
}
/* line 10, assets\less\subGallery.less */
.subpage-gallery .wrapper .content ul li .tag {
  padding: 30px 0;
  display: block;
}
/* line 18, assets\less\subGallery.less */
.subpage-gallery .wrapper .gallery-list .gallery_category {
  border: solid 1px #acacac;
  padding: 30px 30px;
}
/* line 21, assets\less\subGallery.less */
.subpage-gallery .wrapper .gallery-list .gallery_category span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px #acacac solid;
  color: #999999;
}
@media screen and (max-width: 900px) {
  /* line 39, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  /* line 46, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .gallery img {
    max-width: 750px;
  }
  /* line 53, assets\less\subGallery.less */
  .subpage-gallery .wrapper .comment {
    max-width: 780px;
    margin: 0 auto;
  }
  /* line 57, assets\less\subGallery.less */
  .subpage-gallery .wrapper .comment .area input[type="submit"] {
    width: 80px;
    height: 32px;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 71, assets\less\subGallery.less */
  .subpage-gallery .wrapper {
    padding: 10px;
    margin: 0 auto;
  }
  /* line 74, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content {
    text-align: left;
    max-width: 450px;
  }
  /* line 80, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .h h1 {
    font-size: 20px;
  }
  /* line 85, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .date span {
    font-size: 7px;
  }
  /* line 89, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .view {
    font-size: 13px;
  }
  /* line 91, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .view img {
    width: 100%;
  }
  /* line 95, assets\less\subGallery.less */
  .subpage-gallery .wrapper .content ul li .tag {
    font-size: 13px;
  }
  /* line 101, assets\less\subGallery.less */
  .subpage-gallery .wrapper .write {
    padding: 10%;
  }
  /* line 103, assets\less\subGallery.less */
  .subpage-gallery .wrapper .write img {
    width: 60px;
  }
  /* line 107, assets\less\subGallery.less */
  .subpage-gallery .wrapper .comment {
    padding: 10px;
  }
  /* line 109, assets\less\subGallery.less */
  .subpage-gallery .wrapper .comment .area {
    margin: 0 auto;
    width: 100%;
    height: 90px;
  }
  /* line 113, assets\less\subGallery.less */
  .subpage-gallery .wrapper .comment .area input[type="submit"] {
    margin-top: 20px;
    width: 70px;
    height: 25px;
  }
}
/* line 5, assets\less\subCommunity.less */
.subpage-community .wrapper .content ul li {
  border-bottom: 1px #ebebeb solid;
}
/* line 7, assets\less\subCommunity.less */
.subpage-community .wrapper .content ul li .community {
  text-align: center;
}
/* line 10, assets\less\subCommunity.less */
.subpage-community .wrapper .content ul li .tag {
  padding: 30px 0;
  display: block;
}
@media screen and (max-width: 900px) {
  /* line 25, assets\less\subCommunity.less */
  .subpage-community .wrapper .content {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
  }
  /* line 32, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .community img {
    max-width: 750px;
  }
  /* line 39, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment {
    max-width: 750px;
    margin: 0 auto;
  }
  /* line 43, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment .area textarea {
    max-width: 100%;
    margin-bottom: 10px;
  }
  /* line 47, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment .area input[type="submit"] {
    max-width: 80px;
    max-height: 32px;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 61, assets\less\subCommunity.less */
  .subpage-community .wrapper {
    width: 460px;
    margin: 0 auto;
  }
  /* line 64, assets\less\subCommunity.less */
  .subpage-community .wrapper .content {
    max-width: 450px;
  }
  /* line 69, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .h h1 {
    font-size: 20px;
  }
  /* line 74, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .date span {
    font-size: 7px;
  }
  /* line 79, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .view span {
    font-size: 13px;
  }
  /* line 81, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .view span img {
    width: 100%;
  }
  /* line 86, assets\less\subCommunity.less */
  .subpage-community .wrapper .content ul li .tag {
    font-size: 13px;
  }
  /* line 93, assets\less\subCommunity.less */
  .subpage-community .wrapper .write img {
    width: 60px;
  }
  /* line 97, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment {
    width: 450px;
  }
  /* line 100, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment .area textarea {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    display: block;
  }
  /* line 106, assets\less\subCommunity.less */
  .subpage-community .wrapper .comment .area input[type="submit"] {
    margin-top: 20px;
    width: 70px;
    height: 25px;
  }
  /* line 114, assets\less\subCommunity.less */
  .subpage-community .wrapper .list .category {
    width: 400px;
    font-size: 13px;
    margin: 0 auto;
  }
}
/* line 4, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing {
  text-transform: uppercase;
  margin-bottom: 100px;
}
/* line 7, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .h {
  margin-top: 50px;
  line-height: 40px;
  text-align: center;
}
/* line 11, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .h h1 {
  font-weight: bold;
  font-size: 45px;
}
/* line 16, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list {
  text-align: center;
}
/* line 19, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul {
  vertical-align: top;
  display: inline-block;
  width: 380px;
  height: 460px;
  border-radius: 10px;
  margin-right: 10px;
}
/* line 26, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul li {
  margin-top: 30px;
  color: #474747;
  font-weight: bold;
}
/* line 30, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul li span {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
/* line 36, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul li span:first-child {
  margin-top: 0;
}
/* line 39, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul li .price {
  font-size: 30px;
}
/* line 43, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul .last {
  margin-top: 50px;
}
/* line 45, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a ul .last span {
  margin-top: 20px;
}
/* line 50, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .pink {
  background-color: #fab6c4;
}
/* line 52, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .pink:hover {
  background-color: rgba(250, 182, 196, 0.3);
}
/* line 56, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .yellow {
  background-color: #fdc689;
}
/* line 58, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .yellow:hover {
  background-color: rgba(253, 198, 137, 0.3);
}
/* line 62, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .gray {
  background-color: #cccccc;
}
/* line 64, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .gray:hover {
  background-color: rgba(204, 204, 204, 0.3);
}
/* line 67, assets\less\subPrice.less */
.subpage-price .wrapper .content .pricing .list a .gray li {
  margin-top: 50%;
}
@media screen and (max-width: 900px) {
  /* line 84, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing {
    max-width: 750px;
    margin: 0 auto;
  }
  /* line 88, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a {
    display: inline-block;
    width: 32%;
  }
  /* line 91, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a ul {
    width: 100%;
    margin-right: 5px;
    display: inline-block;
  }
  /* line 95, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a ul:last-child {
    margin-right: 0;
  }
  /* line 97, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a ul:last-child .last {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  /* line 113, assets\less\subPrice.less */
  .subpage-price .wrapper {
    padding: 10px;
    margin: 0 auto;
  }
  /* line 119, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .h h1 {
    font-size: 25px;
  }
  /* line 122, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .h span {
    font-size: 15px;
  }
  /* line 127, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a {
    width: 220px;
    display: inline-block;
    margin-bottom: 10px;
  }
  /* line 131, assets\less\subPrice.less */
  .subpage-price .wrapper .content .pricing .list a:first-child {
    margin-right: 10px;
  }
}
/* line 4, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect {
  text-transform: uppercase;
  margin-bottom: 100px;
  max-width: 800px;
  margin: 0 auto;
}
/* line 9, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .h {
  margin-top: 50px;
  line-height: 40px;
  text-align: center;
}
/* line 13, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .h h1 {
  font-weight: bold;
  font-size: 45px;
}
/* line 18, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .photo {
  padding: 60px 0;
  text-align: center;
}
/* line 21, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .photo img {
  width: 800px;
}
/* line 25, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .contec {
  font-size: 16px;
  color: #474747;
}
/* line 29, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  color: #999999;
}
/* line 33, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo > div {
  margin-top: 10px;
  display: inline-block;
}
/* line 36, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo > div input {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px #ccc solid;
}
/* line 45, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 {
  color: #999999;
  width: 100%;
}
/* line 48, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input:-ms-input-placeholder {
  color: #999999;
}
/* line 49, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-webkit-input-placeholder {
  color: #999999;
}
/* line 50, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-moz-placeholder {
  color: #999999;
}
/* line 51, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input::-moz-placeholder {
  color: #999999;
}
/* line 52, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input:first-child {
  margin-right: 7.9px;
}
/* line 55, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input:first-child {
  float: left;
}
/* line 58, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input:last-child {
  float: right;
}
/* line 61, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_1 input {
  width: 48%;
}
/* line 65, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_2 {
  width: 100%;
}
/* line 68, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_3 {
  width: 100%;
  height: 78px;
  font-size: 15px;
  color: #999999;
  font-family: 'Quicksand', 'Noto Sans', sans-serif;
}
/* line 74, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .memo_3 .messege {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px #ccc solid;
}
/* line 82, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .send {
  text-align: right;
  width: 250px;
  height: 50px;
}
/* line 86, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .send input[type="submit"] {
  background-image: url('../images/send2.png');
  border-style: none;
  text-indent: -9999px;
  border-radius: 5px;
}
/* line 91, assets\less\subContect.less */
.subpage-contect .wrapper .content .contect .memo .send input[type="submit"]:hover {
  opacity: .5;
}
/* line 101, assets\less\subContect.less */
.mheader {
  display: none;
}
@media screen and (max-width: 900px) {
  /* line 111, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect {
    max-width: 750px;
    margin: 0 auto;
  }
  /* line 114, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .photo {
    max-width: 750px;
  }
  /* line 116, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .photo img {
    max-width: 750px;
  }
  /* line 120, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .contec {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  /* line 132, assets\less\subContect.less */
  #header {
    display: none;
  }
  /* line 138, assets\less\subContect.less */
  .subpage-contect .wrapper .content {
    padding: 10px;
    margin: 0 auto;
  }
  /* line 142, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .h {
    line-height: normal;
  }
  /* line 144, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .h h1 {
    font-size: 25px;
  }
  /* line 148, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .photo {
    max-width: 450px;
  }
  /* line 150, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .photo img {
    width: 100%;
  }
  /* line 155, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .memo .memo_1 {
    display: inline-block;
  }
  /* line 158, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .memo .send {
    width: 200px;
  }
  /* line 160, assets\less\subContect.less */
  .subpage-contect .wrapper .content .contect .memo .send input {
    width: 99%;
    height: 40px;
  }
}
/* line 4, assets\less\subLogin.less */
.subpage-login .wrapper .content .login {
  text-transform: uppercase;
  margin-bottom: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}
/* line 9, assets\less\subLogin.less */
.subpage-login .wrapper .content .login > div {
  margin-bottom: 50px;
}
/* line 12, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .h {
  margin-top: 50px;
  marline-height: 40px;
  text-align: center;
}
/* line 17, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .h h1 {
  font-weight: bold;
  font-size: 45px;
}
/* line 22, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .box {
  padding: 50px 0;
  background-color: #f2f2f3;
  text-align: center;
}
/* line 26, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .box > div {
  margin: 50px 0;
}
/* line 28, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .box > div a:hover {
  opacity: 0.5;
}
/* line 32, assets\less\subLogin.less */
.subpage-login .wrapper .content .login .box .hh {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  /* line 48, assets\less\subLogin.less */
  .subpage-login .wrapper {
    padding: 10px;
    width: 100%;
  }
  /* line 52, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login {
    padding: 20px;
    margin: 0 auto;
  }
  /* line 55, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box {
    padding: 20px;
  }
  /* line 58, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box > div img {
    width: 500px;
  }
  /* line 62, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box .hh {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 75, assets\less\subLogin.less */
  .subpage-login .wrapper {
    width: 460px;
    margin: 0 auto;
  }
  /* line 78, assets\less\subLogin.less */
  .subpage-login .wrapper .content {
    padding: 10px;
  }
  /* line 80, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login {
    padding: 10px 20px;
  }
  /* line 83, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .h h1 {
    font-size: 25px;
  }
  /* line 88, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box > div {
    margin: 20px 0;
    width: 100%;
    height: 100%;
  }
  /* line 92, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box > div span {
    font-size: 17px;
  }
  /* line 95, assets\less\subLogin.less */
  .subpage-login .wrapper .content .login .box > div img {
    width: 300px;
  }
}
